/* 
*   Stylescheet for the landing screen
*   Created on : 29-Oct-2017, 20:38:09
*   Author: Nam
*/

#selectLanguage {
    -fx-font-size: 20px; 
    -fx-background-color: #E74C3C; 
    -fx-text-fill: #ffffff;
}
#selectLanguage:hover {
    -fx-font-size: 20px; 
    -fx-background-color: #1e88e5; 
    -fx-text-fill: #ffffff;
}

.choice-box {
    -fx-background-color: #fff;
    -fx-border-radius: 500px;
    -fx-border-color: #cccccc;
}

.choice-box .context-menu {
    -fx-pref-width: 350; /* Your width for the context menu background shown */
    -fx-background-color: #fff;
    -fx-border-color: #cccccc;
}

  